# Advanced Filters

In this section, we will take a closer look at common filtering patterns.  Note that this list is based on the Common Filter Operations section of the [SQL Alchemy tutorial](https://docs.sqlalchemy.org/en/latest/orm/tutorial.html) from the SQL Alchemy documentation, which is copyright Â© by SQLAlchemy authors and contributors. SQLAlchemy and its documentation are licensed under the MIT license.

In [1]:
import pandas as pd
from dfply import *
import seaborn as sns
%matplotlib inline

### Common Filter Operators

Most filters consist of the following operations.

* Equals/not equals and other inequalities
* Like/ilike
* In/not in
* Is Null/is not null
* And/or

## How we will proceed

Let's look at how each of the operations is performed in our three frameworks.  We need a dataset that is ripe for filtering, so we will return to the super hero data set.  Who doesn't love a super hero?

## Set up

Let's read in a data set

In [2]:
from more_dfply import fix_names
heroes_raw = pd.read_csv('./data/heroes_information.csv', na_values=['-', '-99.0', ''])
heroes = (heroes_raw >> fix_names)
heroes.head()

,Unnamed_0,name,Gender,Eye_color,Race,Hair_color,Height,Publisher,Skin_color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,NaN,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,NaN,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,NaN,Marvel Comics,NaN,bad,NaN

## Category 1 - Equality and Inequality

In all three frameworks, equalities/inequalities are performed using the regular Python operators on column expressions.

#### equals:

In [5]:
(heroes
 >> filter_by(X.Eye_color == 'blue')
 >> head(2))

,Unnamed_0,name,Gender,Eye_color,Race,Hair_color,Height,Publisher,Skin_color,Alignment,Weight
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0

#### not equals:

In [15]:
(heroes
 >> filter_by(X.Eye_color != 'blue')
 >> head(2))

,Id,name,Gender,Eye_color,Race,Hair_color,Height,Publisher,Skin_color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,NaN,good,441.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,NaN,bad,441.0

#### Other inequalities

In [18]:
(heroes
 >> filter_by(X.Height > 200)
 >> filter_by(X.Weight <= 440)
 >> head(2))

,Id,name,Gender,Eye_color,Race,Hair_color,Height,Publisher,Skin_color,Alignment,Weight
17,17,Alien,Male,NaN,Xenomorph XX121,No Hair,244.0,Dark Horse Comics,black,bad,169.0
19,19,Amazo,Male,red,Android,NaN,257.0,DC Comics,NaN,bad,173.0

## Reminder - Referencing Constructed Column

Recall that we can reference a constructed column by using `X` in `pandas` + `dfply`

In [21]:
(heroes
 >> mutate(Weight_kg = X.Weight/2.2046)
 >> filter_by(X.Weight_kg <= 200)
 >> head(2))

,Id,name,Gender,Eye_color,Race,Hair_color,Height,Publisher,Skin_color,Alignment,Weight,Weight_kg
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0,29.483807
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0,40.823732

## <font color="red"> Exercise 1 - The Super Hero Dating Game - Part 1</font>

Yesterday, you notice a singles add in the local paper that reads

> SWF looking for BESHM (blue-eyed super hero).  Must be tall (70+ inches).  Only interested in bad boys! Must list height (in inches) in reply!

Write a query in each framework to help find candidates for this personal add.

In [7]:
(heroes
 >> select(X.name,X.Eye_color,X.Height, X.Alignment)
 >> mutate(Height_inches = X.Height/2.54)
 >> filter_by((X.Eye_color == 'blue') & (X.Alignment == 'bad'))
 >> filter_by(X.Height_inches >= 70)
 >> select(X.name,X.Eye_color,X.Height_inches,X.Alignment))

                name Eye_color  Height_inches Alignment
5      Absorbing Man      blue      75.984252       bad
11        Air-Walker      blue      74.015748       bad
48             Atlas      blue      77.952756       bad
80         Big Barda      blue      74.015748       bad
109        Blackwing      blue      72.834646       bad
119         Bloodaxe      blue      85.826772       bad
140         Bullseye      blue      72.047244       bad
180       Clock King      blue      70.078740       bad
236          Electro      blue      70.866142       bad
248           Exodus      blue      72.047244       bad
249    Fabian Cortez      blue      77.165354       bad
294  Granny Goodness      blue      70.078740       bad
298     Green Goblin      blue      70.866142       bad
299  Green Goblin II      blue      70.078740       bad
319        Heat Wave      blue      70.866142       bad
327        Hobgoblin      blue      70.866142       bad
362           Jigsaw      blue      74.015748       bad
391          Kingpin      blue      79.133858       bad
408   Lightning Lord      blue      75.196850       bad
430         Mandarin      blue      74.015748       bad
471        Moonstone      blue      70.866142       bad
487           Nebula      blue      72.834646       bad
529   Professor Zoom      blue      70.866142       bad
534             Pyro      blue      70.078740       bad
546    Razor-Fist II      blue      75.196850       bad
552        Red Skull      blue      74.015748       bad
559        Rick Flag      blue      72.834646       bad
578        Scarecrow      blue      72.047244       bad
644   Superboy-Prime      blue      70.866142       bad
689            Venom      blue      75.196850       bad
704           Walrus      blue      72.047244       bad
727      Yellow Claw      blue      74.015748       bad